/* Possible universal vs body vs html discussion. */
* {
  box-sizing: border-box;
}

body {
  background-color: #0C0336;
  color: #fff;
  font-family: "Trebuchet MS";
}

h1 {
  font-family: "Helvetica";
  font-size: 50px;
  background-image: url("./images/neon-jelly.jpg");
  background-position: left 35% top;
  /* Align our title */
  width: 50%;
  margin: 50px auto;

  /* See more of the background image so let's increase the padding. Now our title has different dimensions than our gallery! -> border-box discussion. */
  padding: 50px 25px;
}

/* Fix, so we folow the principle of proximity: create some distance between our figcaption and the unrelated images.

Good time to discuss collapsing margins. If we give img a margin, why don't verticle margins collapse? (inline vs block elements)
*/
.photo {
  /* Discuss percentage units. */
  width: 50%;
  /* Center our gallery */
  margin: 50px auto;
}

img {
  width: 100%;
}

figcaption {
  background-color: #0D337A;
  font-size: 20px;
  /* Generate space around the figcaption text. */
  padding: 25px;
}

a {
  color: #fff;
}
